<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="austin.testCases.InvestigatorLogin"/>
      <class name="austin.testCases.GrcLogin"/>
      <class name="austin.testCases.AdminLogin"/>
      <class name="austin.testCases.InitiatorLogin"/>
      <class name="austin.testCases.ResearchLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
